### 翻译Java虚拟机规范第五章-第四节-第一节(JSR-337/Java8)

> `筛选重点内容进行翻译`

主要内容：`简单描述Java虚拟机的验证`


```java

    /**

    5.4.1 Verification
    
    验证

    Verification (§4.10) ensures that the binary representation of a class or interface is
    structurally correct (§4.9).

    验证（第4.10节）确保类或接口的二进制表示在结构上正确（第4.9节）.

    */



```